.btn {
    background-color: var(--helper);
    cursor: pointer;
    border: none;
    padding: 20px 31px;
    text-align: center;
    transition: all 0.3s ease 0s;
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    background: #8e2de2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,
        #4a00e0,
        #8e2de2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4a00e0, #8e2de2);
  }